#options {
  font-size: 125%;
}

label {
  font-size: 100%;
}

label.disabled {
  opacity: 0.15;
}

.out-setting {
  margin-top: 5px;
  margin-left: 10px;
  line-height: 35px;
  font-size: 105%;
}

.bull-setting {
  margin-top: 10px;
  line-height: 35px;
  font-size: 105%;
}
